@*@model IEnumerable<BlyHotel.LOAI_PHONG>*@
@model PagedList.IPagedList<BlyHotel.LOAI_PHONG>
@using PagedList.Mvc;

@{
	ViewBag.Title = "getListRoom";
	Layout = "~/Areas/Admin/Views/Shared/_AdminNav.cshtml";
}

<div id="detail">
	<div class="detail-names">LOẠI PHÒNG</div>
		<div class="create-btn"><a href="/Admin/Room/CreateRoom" class="create">Thêm mới</a></div>
	<div class="detail-content">
		<table class="deta">
			<tr>
				<th>STT</th>
				<th>Tên Loại</th>
				<th>Giá</th>
				<th>Số lượng</th>
				<th>Mô tả</th>
				<th>Số lượng người tối đa</th>
				<th>Hình ảnh</th>
				<th>Thao tác</th>
			</tr>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.LP_IDLOAI)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LP_TENLOAI)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LP_GIA)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LP_SOLUONG)
					</td>
					<td class="detail-room">
						@Html.DisplayFor(modelItem => item.LP_MOTA)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LP_SLNguoi)
					</td>
					<td>
						<img src="@Url.Content("~/Content/Image/" + item.LP_HINHANH)" class="img-room" />
					</td>
					<td>
						<div class="icon-delete-user">
							<a href=@Url.Action("Delete","Room", new { id = item.LP_IDLOAI }) class="icon"><i class="ti-trash"></i></a>
						</div>
						<div class="icon-view-detail">
							<a href=@Url.Action("Details","Room", new { id = item.LP_IDLOAI }) class="icon"><i class="ti-info-alt"></i></a>
						</div>
						<div class="icon-edit-detail">
							<a href=@Url.Action("Edit","Room", new { id = item.LP_IDLOAI }) class="icon"><i class="ti-pencil-alt"></i></a>
						</div>

					</td>
				</tr>
			}
		</table>
		<br />

		@Html.PagedListPager(Model, page => Url.Action("getListRoom",
			new { page }))
	</div>
</div>
